body {
    background: #F8F5FF;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: #7C3AED;
    padding: 20px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 70px 20px;
}

.hero h1 {
    color: #7C3AED;
    font-size: 45px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 40px;
}

.card {
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(124, 58, 237, .15);
    text-align: center;
    transition: .3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    color: #7C3AED;
}

.card p {
    line-height: 28px;
    color: #555;
}

button {
    margin-top: 20px;
    background: #8B5CF6;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background: #6D28D9;
}