<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Taniya | Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>

<body>

    <header>

        <nav>

            <h2 class="logo">Taniya</h2>

            <ul>

                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>

            </ul>

        </nav>

    </header>


    <section class="hero">

        <div class="left">

            <h3>Hello, I'm</h3>

            <h1>Taniya</h1>

            <h2>AIML Student & Python Developer</h2>

            <p>

                Passionate about Artificial Intelligence, Machine Learning, Python Development, Web Scraping, Data Science and Flask Projects.

            </p>


            <a href="/portfolio">
                <button class="portfolio-btn">My Portfolio</button>
            </a>
            <div class="buttons">
                <a href="#" download>
                    <button>Download Resume</button>
                </a>


                <a href="/learnmore">
                    <button>Learn More</button>
                </a>
            </div>
        </div>

        <div class="right">

            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">

        </div>

    </section>

    <section class="about">

        <h2>About Me</h2>

        <p>

            I am a second year AIML Engineering student. I love creating Machine Learning and Python projects. Currently working on Flask applications and Data Science projects.

        </p>

    </section>

    <section class="skills">

        <h2>My Skills</h2>

        <div class="cards">

            <div class="card">Python</div>
            <div class="card">Flask</div>
            <div class="card">HTML</div>
            <div class="card">CSS</div>
            <div class="card">Machine Learning</div>
            <div class="card">Web Scraping</div>

        </div>

    </section>

    <section class="projects">

        <h2>Projects</h2>

        <div class="project">

            <h3>Movie Search App</h3>

            <p>Developed using Flask and TMDB API.</p>

        </div>

        <div class="project">

            <h3>Amazon Web Scraper</h3>

            <p>Extracted product details using BeautifulSoup.</p>

        </div>

        <div class="project">

            <h3>Portfolio Website</h3>

            <p>Personal responsive portfolio using Flask.</p>

        </div>

    </section>

    <footer>

        <p>© 2026 Taniya | AIML Portfolio</p>

    </footer>

</body>

</html>