<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taniya | Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

    <header>
        <nav>
            <h2 class="logo">Taniya</h2>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="about">

        <h2>My Portfolio</h2>

        <p>
            Welcome to my portfolio! I am <strong>Taniya</strong>, a second-year Artificial Intelligence & Machine Learning student with a passion for Python programming, web development, and machine learning. I enjoy creating real-world projects that
            improve my technical and problem-solving skills.
        </p>

    </section>

    <section class="skills" id="education">

        <h2>Education</h2>

        <div class="cards">

            <div class="edu-card">
                <h3>B.Tech (AIML)</h3>
                <p>Second Year Engineering Student</p>
            </div>

            <div class="edu-card">
                <h3>College</h3>
                <p>JMIETI</p>
            </div>

            <div class="edu-card">
                <h3>Current Focus</h3>
                <p>Python, Flask, HTML, CSS & Machine Learning</p>
            </div>

        </div>

    </section>

    <section class="skills" id="skills">

        <h2>Technical Skills</h2>

        <div class="cards">

            <div class="card">Python</div>
            <div class="card">Flask</div>
            <div class="card">HTML</div>
            <div class="card">CSS</div>
            <div class="card">Machine Learning</div>
            <div class="card">Data Science</div>
            <div class="card">Git & GitHub</div>
            <div class="card">Web Scraping</div>

        </div>

    </section>

    <section class="projects" id="projects">

        <h2>🎬 Movie Search Results</h2>

<form>
    <input type="text" placeholder="Enter movie name">
    <button type="submit">Search</button>
</form>

<br>

<table border="1" style="width:100%; border-collapse: collapse; text-align:center;">
    <tr style="background-color:black; color:white;">
        <th>Title</th>
        <th>Year</th>
        <th>Type</th>
        <th>IMDB ID</th>
    </tr>

    <tr>
        <td>Avengers: Endgame</td>
        <td>2019</td>
        <td>movie</td>
        <td>tt4154796</td>
    </tr>

    <tr>
        <td>Interstellar</td>
        <td>2014</td>
        <td>movie</td>
        <td>tt0816692</td>
    </tr>

    <tr>
        <td>Inception</td>
        <td>2010</td>
        <td>movie</td>
        <td>tt1375666</td>
    </tr>
</table>

        <div class="project">
            <h3>🛒 Amazon Web Scraper</h3>
            <p>Scraped product information using BeautifulSoup and Python.</p>
        </div>

        <div class="project">
            <h3>🌐 Personal Portfolio Website</h3>
            <p>Developed a responsive portfolio using Flask, HTML and CSS.</p>
        </div>

    </section>

    <section class="about" id="contact">

        <h2>Contact Me</h2>

        <p><strong>Email:</strong> tt835554@gmail.com</p>
        <p><strong>LinkedIn:</strong> www.linkedin.com/in/taniya-t-6875aa338</p>
        <p><strong>GitHub:</strong> <github class="com">
        https://github.com/taniya2013</p>

    </section>

    <footer>
        <p>© 2026 Taniya | All Rights Reserved</p>
    </footer>

</body>

</html>