<h1>Assignments & Practice Sheets</h1>
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/assignments.css') }}">
</head>

<div class="file-card">
    <h3>Day 1 Practice Sheet</h3>
    <a href="{{ url_for('static', filename='pdf/day_1_practice_sheet.pdf') }}" target="_blank">
        View PDF
    </a>
</div>

<div class="file-card">
    <h3>Day 2 Practice Sheet</h3>
    <a href="{{ url_for('static', filename='pdf/day_2_practice_sheet.pdf') }}" target="_blank">
        View PDF
    </a>
</div>

<div class="file-card">
    <h3>Day 3 Practice Sheet</h3>
    <a href="{{ url_for('static', filename='pdf/day_3_practice_sheet.pdf') }}" target="_blank">
        View PDF
    </a>
</div>
<div class="file-card">
    <h3>BLOG on Microsoft Copilot</h3>
    <a href="{{ url_for('static', filename='pdf/BLOG.pdf') }}" target="_blank">
        View PDF
    </a>
</div>