<h1>AI & Machine Learning Use Cases</h1>

<p class="subtitle">
    Explore real-world AI and Machine Learning solutions developed for various domains.
</p>
<head>
    <meta charset="UTF-8">
    <title>AI & Machine Learning Use Cases</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/usecases.css') }}">
</head>
<div class="file-card">
    <h3>AI Transcription System</h3>
    <a href="{{ url_for('static', filename='usecases/AI Transcription System.pdf') }}" target="_blank">
        Open
    </a>
</div>

<div class="file-card">
    <h3>Smart Complaint Prioritization System</h3>
    <a href="{{ url_for('static', filename='usecases/Smart Complaint Prioritization System.pdf') }}" target="_blank">
        Open
    </a>
</div>

<div class="file-card">
    <h3>Student dropout system</h3>
    <a href="{{ url_for('static', filename='usecases/Student dropout system.pdf') }}" target="_blank">
        Open
    </a>
</div>